In [2]:
import os
import pandas as pd 
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [3]:
df1 = pd.read_csv('events.csv')

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885129 entries, 0 to 885128
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   event_time     885129 non-null  object
 1   event_type     885129 non-null  object
 2   product_id     885129 non-null  int64
 3   category_id    885129 non-null  float64
 4   category_code  648910 non-null  object
 5   brand          672765 non-null  object
 6   price          885129 non-null  float64
 7   user_id        885129 non-null  float64
 8   user_session   884964 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 60.8+ MB

In [6]:
df1.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2020-09-24 11:57:06 UTC,view,1996170,2.144420e+18,electronics.telephone,NaN,31.90,1.515920e+18,LJuJVLEjPT
1,2020-09-24 11:57:26 UTC,view,139905,2.144420e+18,computers.components.cooler,zalman,17.16,1.515920e+18,tdicluNnRY
2,2020-09-24 11:57:27 UTC,view,215454,2.144420e+18,NaN,NaN,9.81,1.515920e+18,4TMArHtXQy
3,2020-09-24 11:57:33 UTC,view,635807,2.144420e+18,computers.peripherals.printer,pantum,113.81,1.515920e+18,aGFYrNgC08
4,2020-09-24 11:57:36 UTC,view,3658723,2.144420e+18,NaN,cameronsino,15.87,1.515920e+18,aa4mmk0kwQ

In [7]:
df1.shape

(885129, 9)

In [8]:
df2 = df1.dropna()

In [9]:
df2.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
1,2020-09-24 11:57:26 UTC,view,139905,2.144420e+18,computers.components.cooler,zalman,17.16,1.515920e+18,tdicluNnRY
3,2020-09-24 11:57:33 UTC,view,635807,2.144420e+18,computers.peripherals.printer,pantum,113.81,1.515920e+18,aGFYrNgC08
5,2020-09-24 11:57:59 UTC,view,664325,2.144420e+18,construction.tools.saw,carver,52.33,1.515920e+18,vnkdP81DDW
7,2020-09-24 11:58:24 UTC,view,716611,2.144420e+18,computers.network.router,d-link,53.14,1.515920e+18,kVBeYDPcBw
9,2020-09-24 11:58:31 UTC,view,716611,2.144420e+18,computers.network.router,d-link,53.14,1.515920e+18,F3VB9LYp39

In [10]:
df2.shape

(516256, 9)

In [11]:
df2.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
1,2020-09-24 11:57:26 UTC,view,139905,2.144420e+18,computers.components.cooler,zalman,17.16,1.515920e+18,tdicluNnRY
3,2020-09-24 11:57:33 UTC,view,635807,2.144420e+18,computers.peripherals.printer,pantum,113.81,1.515920e+18,aGFYrNgC08
5,2020-09-24 11:57:59 UTC,view,664325,2.144420e+18,construction.tools.saw,carver,52.33,1.515920e+18,vnkdP81DDW
7,2020-09-24 11:58:24 UTC,view,716611,2.144420e+18,computers.network.router,d-link,53.14,1.515920e+18,kVBeYDPcBw
9,2020-09-24 11:58:31 UTC,view,716611,2.144420e+18,computers.network.router,d-link,53.14,1.515920e+18,F3VB9LYp39

In [12]:
print(df2)

                     event_time event_type  product_id   category_id  \
1       2020-09-24 11:57:26 UTC       view      139905  2.144420e+18
3       2020-09-24 11:57:33 UTC       view      635807  2.144420e+18
5       2020-09-24 11:57:59 UTC       view      664325  2.144420e+18
7       2020-09-24 11:58:24 UTC       view      716611  2.144420e+18
9       2020-09-24 11:58:31 UTC       view      716611  2.144420e+18
...                         ...        ...         ...           ...
885121  2021-02-28 23:51:25 UTC       view      622796  2.144420e+18
885122  2021-02-28 23:53:13 UTC       view     4079420  2.144420e+18
885125  2021-02-28 23:58:05 UTC       view     1715907  2.144420e+18
885126  2021-02-28 23:58:09 UTC       view     4170534  2.144420e+18
885128  2021-02-28 23:59:09 UTC       view      743182  2.144420e+18

                          category_code     brand   price       user_id  \
1           computers.components.cooler    zalman   17.16  1.515920e+18
3         computers.peripherals.printer    pantum  113.81  1.515920e+18
5                construction.tools.saw    carver   52.33  1.515920e+18
7              computers.network.router    d-link   53.14  1.515920e+18
9              computers.network.router    d-link   53.14  1.515920e+18
...                                 ...       ...     ...           ...
885121        computers.components.cdrw      asus  147.38  1.515920e+18
885122  computers.components.videocards       msi  449.51  1.515920e+18
885125             electronics.video.tv  starwind   80.03  1.515920e+18
885126               electronics.clocks   amazfit   64.92  1.515920e+18
885128     construction.tools.soldering      kada   65.08  1.515920e+18

       user_session
1        tdicluNnRY
3        aGFYrNgC08
5        vnkdP81DDW
7        kVBeYDPcBw
9        F3VB9LYp39
...             ...
885121   SqlXaC3Wrw
885122   zrl0oKrysT
885125   g6WqPf50Ma
885126   xNIJBqZdkd
885128   BejOXRngEW

[516256 rows x 9 columns]

In [13]:
df2.drop_duplicates

<bound method DataFrame.drop_duplicates of                      event_time event_type  product_id   category_id  \
1       2020-09-24 11:57:26 UTC       view      139905  2.144420e+18
3       2020-09-24 11:57:33 UTC       view      635807  2.144420e+18
5       2020-09-24 11:57:59 UTC       view      664325  2.144420e+18
7       2020-09-24 11:58:24 UTC       view      716611  2.144420e+18
9       2020-09-24 11:58:31 UTC       view      716611  2.144420e+18
...                         ...        ...         ...           ...
885121  2021-02-28 23:51:25 UTC       view      622796  2.144420e+18
885122  2021-02-28 23:53:13 UTC       view     4079420  2.144420e+18
885125  2021-02-28 23:58:05 UTC       view     1715907  2.144420e+18
885126  2021-02-28 23:58:09 UTC       view     4170534  2.144420e+18
885128  2021-02-28 23:59:09 UTC       view      743182  2.144420e+18

                          category_code     brand   price       user_id  \
1           computers.components.cooler    zalman   17.16  1.515920e+18
3         computers.peripherals.printer    pantum  113.81  1.515920e+18
5                construction.tools.saw    carver   52.33  1.515920e+18
7              computers.network.router    d-link   53.14  1.515920e+18
9              computers.network.router    d-link   53.14  1.515920e+18
...                                 ...       ...     ...           ...
885121        computers.components.cdrw      asus  147.38  1.515920e+18
885122  computers.components.videocards       msi  449.51  1.515920e+18
885125             electronics.video.tv  starwind   80.03  1.515920e+18
885126               electronics.clocks   amazfit   64.92  1.515920e+18
885128     construction.tools.soldering      kada   65.08  1.515920e+18

       user_session
1        tdicluNnRY
3        aGFYrNgC08
5        vnkdP81DDW
7        kVBeYDPcBw
9        F3VB9LYp39
...             ...
885121   SqlXaC3Wrw
885122   zrl0oKrysT
885125   g6WqPf50Ma
885126   xNIJBqZdkd
885128   BejOXRngEW

[516256 rows x 9 columns]>

In [14]:
df2.drop('user_id',axis=1)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_session
1,2020-09-24 11:57:26 UTC,view,139905,2.144420e+18,computers.components.cooler,zalman,17.16,tdicluNnRY
3,2020-09-24 11:57:33 UTC,view,635807,2.144420e+18,computers.peripherals.printer,pantum,113.81,aGFYrNgC08
5,2020-09-24 11:57:59 UTC,view,664325,2.144420e+18,construction.tools.saw,carver,52.33,vnkdP81DDW
7,2020-09-24 11:58:24 UTC,view,716611,2.144420e+18,computers.network.router,d-link,53.14,kVBeYDPcBw
9,2020-09-24 11:58:31 UTC,view,716611,2.144420e+18,computers.network.router,d-link,53.14,F3VB9LYp39
...,...,...,...,...,...,...,...,...
885121,2021-02-28 23:51:25 UTC,view,622796,2.144420e+18,computers.components.cdrw,asus,147.38,SqlXaC3Wrw
885122,2021-02-28 23:53:13 UTC,view,4079420,2.144420e+18,computers.components.videocards,msi,449.51,zrl0oKrysT
885125,2021-02-28 23:58:05 UTC,view,1715907,2.144420e+18,electronics.video.tv,starwind,80.03,g6WqPf50Ma
885126,2021-02-28 23:58:09 UTC,view,4170534,2.144420e+18,electronics.clocks,amazfit,64.92,xNIJBqZdkd
885128,2021-02-28 23:59:09 UTC,view,743182,2.144420e+18,construction.tools.soldering,kada,65.08,BejOXRngEW

In [22]:
import string


def remove_pun(text):
    for pun in string.punctuation:
        text = text.replace(pun," ")
    text = text.lower()
    return(text)

In [23]:
remove_pun('"computers.components.cdrw"')

' computers components cdrw '